<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catty Cuteness Voting</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <header class="header">
      <p>
        <a href="https://github.com/aliqyan-21/cattycuteness" class="link"
          >Web app</a
        >
        made with ❤️ using the
        <a href="https://github.com/aliqyan-21/hawkwing" class="link"
          >Hawkwing framework</a
        >
        by Aliqyan.
      </p>
    </header>
    <h1>Vote for the Cutest Cat!</h1>
    <div class="cat-voting-container">
      <form action="/vote" method="POST">
        <input type="hidden" name="selectedCat" value="{{.Cat1}}" />
        <button type="submit" class="cat-button">
          <img src="/static/cats/{{.Cat1}}" alt="Cat 1" class="cat-image" />
        </button>
      </form>
      <form action="/vote" method="POST">
        <input type="hidden" name="selectedCat" value="{{.Cat2}}" />
        <button type="submit" class="cat-button">
          <img src="/static/cats/{{.Cat2}}" alt="Cat 2" class="cat-image" />
        </button>
      </form>
    </div>

    <h2>Leaderboard:</h2>
    <table class="leaderboard-table">
      <thead>
        <tr>
          <th>Cat Image</th>
          <th>Rating</th>
          <!-- Change from Votes to Rating -->
        </tr>
      </thead>
      <tbody>
        {{if .Ratings}} {{range .Ratings}}
        <tr>
          <td>
            <img
              src="/static/cats/{{.Image}}"
              alt="{{.Image}}"
              class="small-cat-image"
            />
          </td>
          <td>{{.Rating}}</td>
          <!-- Change from Votes to Rating -->
        </tr>
        {{end}} {{else}}
        <tr>
          <td colspan="2">No votes yet!</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
